.searchList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search {
  background-color: rgba(181, 181, 181, 50%);

  padding: 1em 0;
  margin: 0.5rem;

  min-height: 20%;
  min-width: 50%;
  flex-basis: 18%;

  border-radius: 5px;

  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
}

.search-card {
  background-color:  rgba(181, 181, 181, 50%);
  padding: 1em;
  margin-top: 1em;
}

.search__content {
  grid-column-start: 2;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  text-align: center;
  font-weight: 100;
  overflow: hidden;
  font-family: 'Courier New', Courier, monospace;
}

.search__content-bar {
  width: 100%;
  height: 30px;
  border-radius: 20px;
  border: none;
}

.search__content-bar::placeholder {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.search__content-bar, .search__content-button {
  padding: 0;
  margin: 0;
}

.search__content-button {
  margin-top: 15px;
  align-self: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: larger;
  width: 100px;
  height: 50px;
  border-radius: 50px;
  background: rgb(181, 181, 181, 50%);
  border: none;

}

.search__content-button:hover {
  cursor: pointer;
}

.add-movie-button {
  margin-top: 15px;
  align-self: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(181, 181, 181);
  border: none;
  border-radius: 10px;
  font-weight: bold;
}
